* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left {
  background: url("./assets/Group\ 30855.png") no-repeat;
  display: flex;
  background-position: center;
  background-size: cover;
  width: 50%;
  position: relative;
}

.right {
  width: 50%;
  height: auto;
  background: #f1f1f1;
}
.head {
  position: absolute;
  top: 30px;
  left: 40px;
}
.head h5 {
  font-size: 26px;
  font-weight: 900;
  color: #ffffff;
}
.head h4 {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
}
.items {
  position: absolute;
  top: 155px;
  left: 40px;
  opacity: 0.8;
  display: flex;
}
.items li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 16px;
}
.h-para {
  position: absolute;
  bottom: 150px;
  left: 25%;
}
.icons {
  position: absolute;
  bottom: 20px;
  left: 70px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 70%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  
}
.form-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.items li::before {
  content: url("../Form/assets/Group\ 21461.png");
  background: transparent;
  margin-right: 10px;
}
label {
  color: #84818a;
  font-size: 22px;
  cursor: pointer;
}
h2 {
  font-size: 26px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 20px;
}
.input-div {
  display: flex;
  gap: 5px;
  width: 100%;
  flex-direction: column;
}
.input-div input {
  height: 59px;
  width: 100%;
  border: 1px solid rgb(168, 167, 167);
  outline: 1px solid #d8e2f3;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  color: #000000;
}

.logo {
  margin: auto;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.select-div {
  position: relative;
  border: 1px solid #d8e2f3;
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
}
form select {
  padding-right: 5px;
  appearance: none;
  gap: 5px;
  height: 59px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding-left: 5px;
  font-size: 18px;
  color: #000000;
  background: transparent;
  border: none;
  cursor: pointer;
}
.select-div::after {
  content: url("../Form//assets/Icon\ feather-chevron-right.png");
  position:absolute;
  margin-top: 20px;
  right: 20px;
  padding-right: 10px;
  cursor: pointer;
  pointer-events: none;
}

.option {
  height: 59px;
  border: 1px solid #d8e2f3;
  padding: 5px;
  font-size: 16px;
}

.checkbox-div {
  display: flex;
  justify-content: space-between;
  width:auto;
  gap: 10px;
  align-items: center;
}
.btn {
  width: 80%;
  margin: 0 auto;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  background-color: #4858fb;
  padding: 10px;
}
.signup-div {
  display: flex;
  margin: auto;
  gap: 10px;
}
.a-link {
  text-decoration: none;
  color: #3a86ff;
  font-weight: 600;
}

@media screen and (max-width: 1040px) {
  .main {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .left {
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    flex-direction: column;
  }

  .head {
    top: 10px;
  }
  .head h4 {
    top: 0px;
    width: 100%;
  }
  .head h5 {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .items {
    position: absolute;
    top: 100px;
    left: 40px;
    opacity: 0.8;
  }
  .items li {
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 12px;
    width: 100%;
  }

  .h-para {
    bottom: 70px;
    left: 30%;
    margin: auto;
    text-align: center;
  }
  .icons {
    flex-wrap: wrap;
    height: auto;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    bottom: 0;
    margin: auto;
  }
  .images {
    height: 70px;
  }
  .checkbox-div {
    display: flex;
    justify-content: space-between;
    width: auto;
    max-width: 40%;
  }
}

@media only screen and (max-width: 630px) {
  .left {
    width: 100%;
  }
  .head {
    top: 10px;
    left: 30px;
  }
  .head h4 {
    font-size: 16px;
  }
  .head h5 {
    font-size: 14px;
  }
  .items {
    top: 75px;
    left: 30px;
  }
  .h-para {
    bottom: 150px;
    left: 10%;
  }
  .icons {
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  h2 {
    margin: auto;
  }
  .input-div {
    width: 90%;
    margin: auto;
  }
  .select-div {
    width: 90%;
    margin: auto;
  }
  .div{
    
    width:90%;
    margin: auto;
  }
  .checkbox-div{
    width: auto;
    height: 100%;
  }
  .checkbox-div label{
    font-size: 12px;
  }
  .a-link{
    font-size: 13px;
  }

  .signup-div p{
    font-size: 13px;
  }
}
.dark{
  background: #000108;
  color: #ffffff;
}


.toggle-btn{
  cursor: pointer;
  width: 10em;
  height: 2rem;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid grey;
}