* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  background: url("./assets/Group\ 30855.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 45%;
  height: 781px;
  position: relative;
}

.right {
  width: 55%;
  background: #f1f1f1;
}
.head{
    position: absolute;
    top: 30px;
    left: 40px;
}
.items{
    position:absolute;
    top: 155px;
    left: 40px;
    opacity: 0.8;
}
.h-para{
    position:absolute;
    bottom: 200px;
    left: 150px;
    letter-spacing: 0.5px;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 70px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.content {
  width: 70%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.form-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 500px;
  gap: 20px;
}
h5 {
  font-size: 26px;
  font-weight: 500;
  color: #ffffff;
}
h4 {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
}
.items li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 16px;
}

.items li::before {
  content: url("../Form/assets/Group\ 21461.png");
  background: transparent;
  margin-right: 10px;
}
label {
  color: #84818a;
  font-size: 22px;
  cursor: pointer;
}
h2 {
  font-size: 26px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 20px;
}
.input-div {
  display: flex;
  gap: 5px;
  width: 100%;
  flex-direction: column;
}
.input-div input {
  height: 59px;
  width: 100%;
  border: 1px solid rgb(168, 167, 167);
  outline: 1px solid #d8e2f3;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  color: #000000;
}

.logo {
  margin: 20px auto;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
form select{
    padding-right: 5px;
    appearance: none;
    gap: 5px;
    height: 59px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    padding-left: 5px;
    font-size: 18px;
    color: #000000;
    background: transparent;
    border: none;
    cursor: pointer;
}
.select-div{
  height: 59px;
  border: 1px solid #d8e2f3;
  padding: 5px;
  font-size: 16px;
  display: flex;
}
.select-div::after{
    content:url('../Form//assets/Icon\ feather-chevron-right.png');
    margin-top: 20px;
    padding-right: 10px;
}

.option {
  height: 59px;
  border: 1px solid #d8e2f3;
  padding: 5px;
  font-size: 16px;
}

.checkbox-div {
  display: flex;
  justify-content: space-between;
  width: 26%;
}
.btn {
  width: 80%;
  margin: 0 auto;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  background-color: #4858fb;
  padding: 10px;
}
.signup-div {
  display: flex;
  margin: auto;
  gap: 10px;
}
.a-link {
  text-decoration: none;
  color: #3a86ff;
  font-weight: 600;
}
